# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg
.eggs/
venv/
env/
.venv/
*.pyc

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Environment variables
.env
*.env

# Node / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
dist/
.next/
out/

# Arduino / IDE
*.elf
*.hex
*.bin
*.map
build/

# VS Code
.vscode/settings.json
.vscode/launch.json

# OS
.DS_Store
Thumbs.db
desktop.ini

# Docker
*.log

# Models (archivos pesados)
*.pt
*.pth
*.h5
*.tflite
*.onnx
